<template>
  <b-container>
    <b-card-group deck>
      <GeneratedText
        v-for="generatedText in generatedTexts"
        v-bind:key="generatedText.id"
        v-bind:generated-text="generatedText.generated_text"
        v-bind:input-text="generatedText.input_text"
        v-bind:date-time="generatedText.date_time"
      ></GeneratedText>
      <b-button
        id="prev-button"
        block variant="outline-info"
        v-on:click="previousPage"
        :disabled="isFirstPage"
      >
        ⬅️
      </b-button>
      <b-button
        id="next-button"
        block variant="outline-info"
        v-on:click="nextPage"
        :disabled="isLastPage"
      >
        ➡️
      </b-button>
    </b-card-group>
    <hr>
  </b-container>
</template>

<script>
import axios from 'axios';
import GeneratedText from '@/components/GeneratedText.vue';

export default {
  name: 'Browse',
  components: {
    GeneratedText,
  },
  data() {
    return {
      generatedTexts: [],
      page: 1,
      perPage: 2,
    };
  },
  computed: {
    isFirstPage() {
      return this.page === 1;
    },
    isLastPage() {
      return this.generatedTexts.length < this.perPage;
    },
  },
  methods: {
    getTexts() {
      const path = `/texts/${this.page}`;
      axios.get(path)
        .then((res) => {
          this.generatedTexts = res.data.generated_texts;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    previousPage() {
      this.page -= 1;
      this.getTexts();
    },
    nextPage() {
      this.page += 1;
      this.getTexts();
    },
  },
  created() {
    this.getTexts();
  },
};
</script>
