<template>
  <div class="home">
    <b-container class="bv-example-row">
      <b-row>
        <b-col></b-col>
        <b-col cols=8><TextGeneration/></b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import TextGeneration from '@/components/TextGeneration.vue';

export default {
  name: 'Home',
  components: {
    TextGeneration,
  },
};
</script>
