<template>
  <div>
    <b-card id="gt-card" border-variant="info" header="Generated Text" align="center">
        <b>Input: {{ inputText }}</b>
        <hr>
        <b-card-text id="gt-text">{{ generatedText }}</b-card-text>
        <hr>
        <p>{{ dateTime }}</p>
    </b-card>
    <p></p>
  </div>
</template>

<script>

export default {
  name: 'GeneratedText',
  props: {
    inputText: String,
    generatedText: String,
    dateTime: Date,
  },
};
</script>
