<template>
  <div role="group">
    <b-form-textarea
      id="input-live"
      v-model="preInputText"
      :state="isValid"
      aria-describedby="input-live-help input-live-feedback"
      placeholder="Beginning of the text"
      rows="4"
      max-rows="4"
    ></b-form-textarea>
    <b-form-invalid-feedback id="input-live-feedback">
      Your input must be between 20-100 characters long.
    </b-form-invalid-feedback>
    <b-form-valid-feedback id="input-live-helper">
      Looks good! Click the button to generate its continuation.
    </b-form-valid-feedback>
    <b-button variant="outline-primary" v-on:click="generateText" :disabled="isNotValid">
      Generate Text
    </b-button>
    <hr>
    <b-col><GeneratedText
      v-if="generated"
      v-bind:generated-text="generatedText"
      v-bind:input-text="inputText"
      v-bind:date-time="dateTime"
    /></b-col>
  </div>
</template>

<script>
import axios from 'axios';
import GeneratedText from '@/components/GeneratedText.vue';

export default {
  name: 'TextGeneration',
  components: {
    GeneratedText,
  },
  computed: {
    isValid() {
      return this.preInputText.length > 19 && this.preInputText.length < 101;
    },
    isNotValid() {
      return this.preInputText.length <= 19 || this.preInputText.length >= 101;
    },
  },
  data() {
    return {
      preInputText: '',
      inputText: '',
      generatedText: '',
      dateTime: null,
      generated: false,
      invalidFeedback: 'Enter at least 20 characters',
    };
  },
  methods: {
    generateText() {
      const path = '/generate';
      const payload = {
        inputText: this.preInputText,
      };
      axios.post(path, payload)
        .then((res) => {
          this.generatedText = res.data.generated_text;
          this.inputText = res.data.input_text;
          this.dateTime = res.data.date_time;
          this.generated = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
    },
  },
};
</script>
